#main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 60px;
  width: 100%;
  background: red;
}

header a {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 36px;
}

header a:hover {
  text-decoration: underline;
}

#header-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#header-right {
  display: flex;
  align-items: center;
  color: white;
  width: 10%;
  justify-content: space-between;
  margin-right: 20px;
}

#header-right button {
  border-radius: 20px;
  background: black;
  color: white;
  font-family: 'Helvetica';
  border: none;
  padding: 10px;
}

#header-right button:hover {
  border: 1px solid white;
}
